* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  text-align: center;
  background-color: cornflowerblue;
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 8px;
  padding: 8px 8px;
  margin-top: 20%;
}
button,
.welcome-btn {
  background-color: white;
  color: cornflowerblue;
  padding: 4px 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.welcome-btn {
  color: white;
  background-color: cornflowerblue;
  font-size: 20px;
  display: block;
  margin: 40px auto;
}
